@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    min-height: 100%;
    background: rgb(16, 16, 16);
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(18, 18, 18);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid darkslategray;
    z-index: 2;
}

.top-nav .logo {
    position: absolute;
    left: 30px;
    display: flex;
    align-items: center;
}

.logo .logo-name {
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.logo img {
    width: 30px;
    margin-right: 10px;
}

.side-nav .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 50px 0;
    background-color: rgb(18, 18, 18);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-right: 1px solid darkslategray;
}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 12px 0px;
}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #4070f4;
}

.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}

.nav-link .link {
    font-size: 16px;
    color: #F9F6EE;
    font-weight: 400;
}

.nav-link:hover .icon,
.nav-link:hover .link {
    color: #fff;
}

.input-box {
    position: relative;
    height: 50px;
    max-width: 350px;
    width: 100%;
    margin-left: auto;
    margin-right: 30px;
    border-radius: 6px;
    background-color: rgb(16, 16, 16);
}

.input-box input {
    height: 100%;
    width: 100%;
    padding: 0 15px 0 65px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: rgb(16, 16, 16);
}

.input-box .search {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px;
    border-radius: 6px 0 0 6px;
    background-color: rgb(16, 16, 16);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search .search-icon {
    font-size: 25px;
    color: #4070f4;
}

@media only screen and (max-width: 635px) {
    .side-nav .sidebar {
        display: none;
    }

    .top-nav .logo {
        display: none;
    }
}
